<manifest package="biz.ajoshi.kolchat.chat"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- We need to make calls over the internet -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Needed as of API 28 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
</manifest>
