<?xml version="1.0" encoding="utf-8"?>
<manifest package="biz.ajoshi.kolchat"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Needed to send 1s and 0s across a series of tubes -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Need this to store local account info in a secure way -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <!-- Need this to fetch stored local accounts for phones under LOLLIPOP_MR1 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- Need this to store local account -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".KolChatApp"
        android:supportsRtl="true"
        android:theme="@style/KoLTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:label="@string/title_activity_login"
            android:name=".LoginActivity"
            android:theme="@style/LoginKolTheme">
        </activity>

        <service
            android:name=".accounts.FakeAuthService"
            android:enabled="true"
            android:exported="true"
            android:permission="IDontReallyWantToExportThis">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <!-- I'm not convinced it's worth it to do a local key thing for fabric -->
        <!-- Please don't send data to my account :( -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5ee22c82fe4a5e99c9f0f8ea4c5cc0149d0ace93"
            />
    </application>

</manifest>
