<?xml version="1.0" encoding="utf-8"?>
<manifest package="biz.ajoshi.kolchat"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Needed to send 1s and 0s across a series of tubes -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Need this to store local account info in a secure way -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <!-- Need this to fetch stored local accounts for phones under LOLLIPOP_MR1 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".KolChatApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".ChatBackgroundService"/>
        <service
            android:exported="true"
            android:name=".ChatJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <activity
            android:label="@string/title_activity_login"
            android:name=".LoginActivity">
        </activity>
    </application>

</manifest>
